@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body,
button {
	font-family: "Rubik", Verdana, Arial, Tahoma, sans-serif;
	font-weight: 400;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-dark-sea-green: #90b89e;
  --color-silver-gray: #f8f8f8;
}
